# Ignore everything in root except...
*.scssc

/*
!.gitignore
!wp-content/

wp-content/*
!wp-content/themes/
!wp-content/stylesheets/

wp-content/themes/*
!wp-content/themes/clean-portfolio

wp-content/themes/clean-portfolio/.sass-cache
**/.DS_Store
