# Ignore everything in root except...
*.scssc

/*
!.gitignore
!wp-content/
!stylesheets
!js
!gruntfile.js
!package.json

wp-content/*
!wp-content/themes/

wp-content/themes/*
!wp-content/themes/clean-portfolio

wp-content/themes/clean-portfolio/.sass-cache
**/.DS_Store
