@import "normalize";

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

//Typography
html {font-size: 1em;}

body {
  line-height: 1.45;
}

p {margin-bottom: 1.3em;}

h1, h2, h3, h4 {
  margin: 1.414em 0 0.5em;
  line-height: 1.2;
}

h1 {
  margin-top: 0;
  font-size: 5.063em;
}

h1 {font-size: 3.375em;}

h2 {font-size: 2.25em;}

figcaption h2, h3 {font-size: 1.5em;}

small, .font_small {font-size: 0.667em;}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */
$primary: #E65034;
$bg: #F7F6F5;
$trim: white;
$textcolor: #2A9988;
$standmargin: 15px;

* {
    box-sizing: border-box;
}
html {
    font-family: sofia-pro, Futura, Helvetica Neue, Helvetica, Verdana, sans-serif;
    font-weight:400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
body {
    min-height:100vh;
    padding:0;
    color:$textcolor;
    background-color:$bg;
    letter-spacing: 0.25px;
}
body > * {
    transition: opacity 0.6s;
    opacity:1;
}

.wf-loading body > * {
    opacity:0;
    transition: opacity 0.6s;
}
.wf-active body > *, .wf-inactive body > * {
    opacity:1;
    transition: opacity 0.6s;
}   
a {
    color: $primary;
    text-decoration: none;
}

h1, h2, h3, h4, h5 {
    font-weight:600;
    color:$primary;
}

header {
    width:calc(100vw - (#{$standmargin} * 4));
    padding:($standmargin * 4) ($standmargin * 2);
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    h1 {
        color:$primary;
        max-width:50%;
    }
    a {
        border-bottom:2px solid $primary;
    }
    p {
        font-size:1.65em;
        line-height:2;
    }
}

.work {
    figure {
        $width: "(100vw - 60px)";
        width:calc(#{$width});
        margin: 0 auto 30px; 
        height:calc(#{$width} / 1.5);
        background-color: $trim;
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        text-align: center;
        .imagebox {
            height:100%;
            width:100%;
            overflow:hidden;
            position:relative;
            img {
                position:absolute;
                top:50%;
                left:50%;
                transform: translate(-50%, -50%);
                height:100%;
            }
            img:not(:nth-of-type(1)){
                display:none;
            }
        }
        figcaption {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: absolute;
            top:0;
            left:0;
            height:100%;
            width: 100%;
            opacity:0;
            transition: opacity 0.3s ease-out;
            background-color: $primary;
            color: $bg;
            -webkit-font-smoothing: antialiased;
            * {
                order:1;
            }
            h2 {
                color: $bg;
            }
            a {
                color: $bg;
                font-weight:600;    
                z-index: 4;
                cursor: pointer;
            }
            .excerpt {
                display:none;
            }
            .tags {
                order:2;
            }
            .links {
                order:3;
            }
            .year {
                order:4;
            }
            &:hover {
                opacity: 1;
            }
        }
    }
}

footer {
    margin: 60px auto 30px;
    text-align: center;
    p {
        text-transform: uppercase;
        letter-spacing:2px;
        color: lighten($textcolor, 60%);
    }
}



//Animations
@keyframes bgFade {
    0% {
        background-color: #f7baba;
    }
    35% {
        background-color: #f1daa1;
    }
    70% {
        background-color: #b5c8e4;
    }
    100% {
        background-color: #f7baba;
    }
}



/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 680px) {
    /* Style adjustments for viewports that meet the condition */
    html {
        background-color: $trim;
    }
    header {  
        text-align:center;
        h1 {
            max-width:100%;
        }
        p:first-of-type {
            margin-bottom:0;
        }
        p + p {
            margin-top:0;
        }
    }
    .work {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin:0;
        figure {
            $number : 2;
            $width : "(100vw - (60px + (30px * #{$number})) )";
            width: calc(#{$width} / #{$number});
            margin: 0 30px 30px 0;
            height: calc((#{$width} / #{$number}) / 1.5);
        }
    }
    footer {
        background-color: $bg;
        padding-bottom:15px;
        p {
            color:$textcolor;
            text-align: center;
            margin:0 auto;
        }
    }
}

@media only screen and (min-width: 960px) {
    .work {
        figure {
            $number : 2;
            $width : "(100vw - (60px + (30px * #{$number})) )";
            width: calc(#{$width} / #{$number});
            height: calc((#{$width} / #{$number}) / 1.5);
        }
    }
}
@media only screen and (min-width: 1280px) {
    header, main, footer {
        width: 100%;
        width: 100vw;
        height:100vh;
        margin-left:auto;
        margin-right: auto;
    }
    header {
        h1 {
            font-size: 5.063em;
            text-transform:uppercase;
            }
    }
    .work {
        background-color: $bg;
        > a {
            pointer-events: none;
        }
        figure {
            $width : 66vw;
            width: 100vw;
            height: calc(#{$width} / 1.5);
            margin:0 0 (4 * $standmargin) 0;
            text-align:right;
            .imagebox, figcaption {
                width: $width;
                height: calc(#{$width} / 1.5);
                position:relative;
            }
            figcaption {
                width: calc(100vw - #{$width});
            }
            .imagebox {
                background-color: $primary;
                order:2;
                cursor:pointer;
                img {
                    max-height:initial;
                    max-width:initial;
                    &:not(:nth-of-type(1)){
                        display:block;
                    }
                    &.three:nth-of-type(1){
                        animation: threeimage1 10s linear infinite;
                        animation-play-state:paused;
                        z-index:3;
                    }
                    &.three:nth-of-type(2){
                        animation: threeimage2 10s linear infinite;
                        animation-play-state:paused;
                        z-index:2;
                    }
                    &.three:nth-of-type(3){
                        animation: threeimage3 10s linear infinite;
                        animation-play-state:paused;
                        z-index:1;
                    }
                    &.four:nth-of-type(1){
                        animation: fourimage1 13s linear infinite;
                        animation-play-state:paused;
                        z-index:4;
                    }
                    &.four:nth-of-type(2){
                        animation: fourimage2 13s linear infinite;
                        animation-play-state:paused;
                        z-index:3;
                    }
                    &.four:nth-of-type(3){
                        animation: fourimage3 13s linear infinite;
                        animation-play-state:paused;
                        z-index:2;
                    }
                    &.four:nth-of-type(4){
                        animation: fourimage4 13s linear infinite;
                        animation-play-state:paused;
                        z-index:1;
                    }
                    &.fixed {
                        animation: none;
                    }
                }
                &:hover img {
                    animation-play-state:running !important;
                }
            }
            figcaption {
                background-color: $bg;
                opacity:1;
                order:1;
                color:inherit;
                align-items:flex-end;
                padding: ($standmargin * 2);
                h2 {
                    font-size:2.25em;
                    color:$primary;
                }
                p {
                    color:$textcolor;
                }
                a {
                    color: $primary;
                }
                .tags {
                    order:3;
                }
                .links {
                    order:2;
                }
                .excerpt {
                    max-width: 66%;
                    display:block;
                }
            }
            &:nth-of-type(even) {
                text-align: left;
                figcaption {
                    order:2;
                    align-items:flex-start;
                }
                .imagebox {
                    order:1;
                }
            }
        }
    }
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

@keyframes fourimage1 {
    0%  { opacity:1; }
    21%  { opacity:1; }
    25%  { opacity:0; }
    46%  { opacity:0; }
    50%  { opacity:0; }
    71%  { opacity:0; }
    75%  { opacity:0; }
    96%  { opacity:0; }
    100%  { opacity:1; }
}
@keyframes fourimage2 {
    0%  { opacity:0; }
    21%  { opacity:0; }
    25%  { opacity:1; }
    46%  { opacity:1; }
    50%  { opacity:0; }
    71%  { opacity:0; }
    75%  { opacity:0; }
    96%  { opacity:0; }
    100%  { opacity:0; }
}
@keyframes fourimage3 {
    0%  { opacity:0; }
    21%  { opacity:0; }
    25%  { opacity:0; }
    46%  { opacity:0; }
    50%  { opacity:1; }
    71%  { opacity:1; }
    75%  { opacity:0; }
    96%  { opacity:0; }
    100%  { opacity:0; }
}
@keyframes fourimage4 {
    0%  { opacity:0; }
    21%  { opacity:0; }
    25%  { opacity:0; }
    46%  { opacity:0; }
    50%  { opacity:0; }
    71%  { opacity:0; }
    75%  { opacity:1; }
    96%  { opacity:1; }
    100%  { opacity:0; }
}
@keyframes threeimage1 {
    0%  { opacity:1; }
    30%  { opacity:1; }
    35%  { opacity:0; }
    63%  { opacity:0; }
    68%  { opacity:0; }
    96%  { opacity:0; }
    100%  { opacity:1; }
}
@keyframes threeimage2 {
    0%  { opacity:0; }
    30%  { opacity:0; }
    35%  { opacity:1; }
    63%  { opacity:1; }
    68%  { opacity:0; }
    96%  { opacity:0; }
    100%  { opacity:0; }
}
@keyframes threeimage3 {
    0%  { opacity:0; }
    30%  { opacity:0; }
    35%  { opacity:0; }
    63%  { opacity:0; }
    68%  { opacity:1; }
    96%  { opacity:1; }
    100%  { opacity:0; }
}
/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
